body, html {
    margin: 0 auto;
    border: 0;
    /* background: url("/home/amit/Documents/inkscape/potifoweb.svg"); */
    background-color: #212F3D;
    overflow-x: hidden;
}

#techwarts {
    position: relative;
    width: 95%;
    left: 50%;
    top: 65px;
    margin-left: -49%;
}


#register {
    width: 140px;
    position: relative;
    /* margin-left: -140px; */
    /* margin-right: 50%; */
    border: none;
    left: 50%;
    bottom: 10px;
    position: fixed;
    margin-left: -150px;
}

#gallery {
    width: 140px;
    position: relative;
    /* margin-left: 55%; */
    border: none;
    border-left: 50%;
    left: 50%;
    top: 10px;
    position: fixed;
    margin-left: 10px;
}

#aboutus {
    width: 140px;
    position: relative;
    /* margin-left: -140px; */
    /* margin-right: 50%; */
    border: none;
    left: 50%;
    bottom: 10px;
    position: fixed;
    margin-left: 10px;
}

#user-card {
    width: 21%;
    max-width: 26%;
    display: fixed;
    margin: 10px 10px;
}

.gmap {
  margin: 0px 0px 10px 20px;
}
#arvr {
    max-width: 100%;
    width: 50%;
    position: relative;
    margin-left: 25%;
}

#code {
    max-width: 100%;
    width: 48%;
    position: relative;
    margin-left: 25%;

}
#ai {
    max-width: 100%;
    width: 50%;
    position: relative;
    margin-left: 25%;
    

}

.user-img img {
  width: 20%;
}

#android {
    max-width: 100%;
    width: 50%;
    position: relative;
    margin-left: 25%;
}

* {
    box-sizing: border-box;
  }
  
  img {
    vertical-align: middle;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
    /* margin-top: 15%; */
    height: 150px;
    overflow: hidden;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;

  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-right: 15px;
    color: white;
    font-weight: bold;
    font-size: 15%;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .imgRow:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

  .registration-div {
    /* border: 1px solid white; */
    position: fixed;
    bottom: 0px;
    height: 55px;
    background: #212F3D;
    z-index: 1;;
    /* margin-left: 2%; */
    width: 100%;
  }

  #facebook {
    width: 50px;
    position: relative;
    /* bottom: 55px; */
    left: 0px;
    top: 5px;
    /* margin-left: -40px; */
  }

  #insta {
    width: 30px;
    position: relative;
    bottom: 55px;
    left: 50%;
    margin-left: 10px;
  }

  .gallery {
    background: #2E4053 ;
  }

  /* Floating button */

  .label-container{
    position:fixed;
    bottom:48px;
    right:105px;
    display:table;
    visibility: hidden;
  }
  
  .label-text{
    color:#FFF;
    background:rgba(51,51,51,0.5);
    display:table-cell;
    vertical-align:middle;
    padding:10px;
    border-radius:3px;
  }
  
  .label-arrow{
    display:table-cell;
    vertical-align:middle;
    color:#333;
    opacity:0.5;
  }
  
  .float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:70px;
    right:10px;
    background-color:#212F3D;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
    z-index:1000;
    animation: bot-to-top 2s ease-out;
  }
  
  ul{
    position:fixed;
    right:10px;
    padding-bottom:20px;
    bottom:90px;
    z-index:3;
  }
  
  ul li{
    list-style:none;
    margin-bottom:10px;
  }
  
  ul li a{
    background-color:#212F3D;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
    width:60px;
    height:60px;
    display:block;
  }
  
  ul:active{
    visibility:visible!important;
    opacity:1!important;
  }
  
  
  .my-float{
    font-size:24px;
    margin-top:18px;
  }
  
  a#menu-share + ul{
    visibility: hidden;
  }
  
  a#menu-share:hover + ul{
    visibility: visible;
    animation: scale-in 0.5s;
  }
  
  a#menu-share i{
    animation: rotate-in 0.5s;
  }
  
  a#menu-share:hover > i{
    animation: rotate-out 0.5s;
  }
  
  @keyframes scale-in {
      from {transform: scale(0);opacity: 0;}
      to {transform: scale(1);opacity: 1;}
  }
  
  @keyframes rotate-in {
      from {transform: rotate(0deg);}
      to {transform: rotate(360deg);}
  }
  
  @keyframes rotate-out {
      from {transform: rotate(360deg);}
      to {transform: rotate(0deg);}
  }


@media only screen and (min-width: 768px) {
    body, html {
        margin: 0 auto;
        border: 0;
        background-color: #212F3D;
        min-width: 600px;
    }

    #facebook {
      width: 50px;
    }

    #insta {
      width: 30px;
      position: fixed;
      bottom: 5px;
      left: 50%;
      margin-left: 10px;
    }
    #arvr {
        max-width: 100%;
        width: 70%;
        margin-left: 15%;
    }

    #code {
        max-width: 100%;
        width: 70%;
        margin-left: 15%;

    }
    #ai {
        max-width: 100%;
        width: 70%;
        margin-left: 15%;

    }

    #android {
        max-width: 100%;
        width: 70%;
        margin-left: 15%;
    }

    #register {
      width: 140px;
      position: relative;
      /* margin-left: -140px; */
      /* margin-right: 50%; */
      border: none;
      left: 50%;
      bottom: 10px;
      position: fixed;
      margin-left: -150px;
    }

    #aboutus {
      width: 140px;
      position: relative;
      /* margin-left: -140px; */
      /* margin-right: 50%; */
      border: none;
      left: 50%;
      bottom: 10px;
      position: fixed;
      margin-left: 10px;
  }

  .gmap {
    margin: 0px 0px 0px 0px;
  }
    .user-card-footer {
      position: absolute; 
      bottom: 5px;
      right: 15px;
    }
    button {
        text-decoration: none;
        border: none;
        color: #00748cff;
        border-radius: 5px;
        font-size: 18px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-family: sans-serif;
        background-color: white;
        transition: 0.3s;
        margin-left: 10px;
        margin-right: 10px;
    }


    .registration-div {
      /* border: 1px solid white; */
      position: fixed;
      bottom: 0px;
      height: 55px;
      background: #212F3D;
      z-index: 1;;
      /* margin-left: 2%; */
      width: 100%;
    }


    button:hover {
        background-color: white;
        background: #00748cff;
        color: white;
    }

    button:active {
        box-shadow: none;
    }

    #user-card:hover {
        box-shadow: 1px 1px 15% 1px rgb(77, 97, 129);
        transition: 0.3s;
    }

    #user-card:active {
        box-shadow: none;
    }


    #user-card {
        min-width: 20%;
        max-width: 50%;  
        margin-top: 25px;
        /* margin: 10px 10px; */
    }


    /* #notfound {
        position: fixed;
        width: 45%;
        left: 50%;
        top: 0px;
        margin-left: -25%;
    } */

    #people {
        position: fixed;
        width: 45%;
        left: 30%;
        top: 10px;
    }

    #info {
        width: 4400px;
    }

    #register-form {
        margin-left: 50%;
    }
      
      * {
        box-sizing: border-box;
      }
      
      img {
        vertical-align: middle;
      }
      
      /* Position the image container (needed to position the left and right arrows) */
      .container {
        position: relative;
        /* margin-top: 15%; */
        height: 550px; 
        overflow: hidden;
      }

      .gallery {
        background: #2E4053 ;
      }
      
      /* Hide the images by default */
      .mySlides {
        display: none;
      }

      #socail {
        width: 10%;
        position: fixed;
        top: 60%;
      }
      
      /* Add a pointer when hovering over the thumbnail images */
      .cursor {
        cursor: pointer;
      }
      
      /* Next & previous buttons */
      .prev,
      .next {
        cursor: pointer;
        position: absolute;
        top: 40%;
        width: auto;
        padding: 16px;
        margin-right: 15px;
        color: white;
        font-weight: bold;
        font-size: 15%;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
      }
      
      /* Position the "next button" to the right */
      .next {
        right: 0;
        border-radius: 3px 0 0 3px;
      }
      
      /* On hover, add a black background color with a little bit see-through */
      .prev:hover,
      .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
      }
      
      /* Number text (1/3 etc) */
      .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
      }
      
      .imgRow:after {
        content: "";
        display: table;
        clear: both;
      }
      
      /* Add a transparency effect for thumnbail images */
      .demo {
        opacity: 0.6;
      }
      
      .active,
      .demo:hover {
        opacity: 1;
      }

      .user-code-body {
        display: none;
      }

      .label-container{
        position:fixed;
        bottom:48px;
        right:105px;
        display:table;
        visibility: hidden;
        }

        .user-img img {
          width: 10%;
        }


.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#212F3D;
	/* color:#FFF; */
	border-radius:50px;
	text-align:center;
	/* box-shadow: 2px 2px 3px #999; */
	z-index:4;
	animation: bot-to-top 2s ease-out;
}

ul{
	position:fixed;
	right:40px;
	padding-bottom:20px;
	bottom:80px;
	z-index:100;
}

ul li{
	list-style:none;
	margin-bottom:10px;
}

ul li a{
	background-color:#212F3D;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	/* box-shadow: 2px 2px 3px #999; */
	width:60px;
	height:60px;
	display:block;
}

ul:hover{
	visibility:visible!important;
	opacity:1!important;
}


}